<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
  <input type="hidden" name="Id" [value]="service.formData.Id">
  <input type="hidden" name="SpilId" [value]="service.formData.SpilId">
  <div class="form-row">
    <div class="col-md">
        <div class="form-group">
          <select name="Melder" #melder="ngModel" [(ngModel)]="service.formData.Melder" class="form-control">
            <option value="null" disabled selected>Vælg melder</option>
            <option *ngFor="let navn of service.spillereList" [value]="navn.Id">{{navn.Fornavn}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="Melding" #melding [(ngModel)]="service.formData.Melding" type="number" class="form-control">
            <option value="0" disabled selected>Vælg melding</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="1">Sol</option>
            <option value="10">10</option>
            <option value="2">Ren sol</option>
            <option value="11">11</option>
            <option value="3">Bordlægger</option>
            <option value="12">12</option>
            <option value="4">Ren bordlægger</option>
            <option value="13">13</option>
            <option value="5">Beskidt</option>
          </select>
        </div>
        <div class="form-group">
          <select name="PlusId" #plusId="ngModel" [(ngModel)]="service.formData.PlusId" type="number" class="form-control">
            <option value="null" disabled selected>Vælg plus</option>
            <option value="1">Hårde</option>
            <option value="2">Halve</option>
            <option value="3">Sang</option>
            <option value="4">VIP</option>
            <option value="5">Gode</option>
          </select>
        </div>
        <div class="form-group" *ngIf="plusId.value == 4">
          <select name="AntalVIP" #AntailVIPId="ngModel" [(ngModel)]="antalVip" [id]="AntailVIPId" class="form-control">
            <option value="0" disabled selected>Vælg antal VIP</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group" *ngIf="melding.value == 4 || melding.value == 6 || melding.value == 8 || melding.value == 10 || melding.value == 12">
          <select multiple name="gaaMed" [ngModel]="service.gaaMedId" type="number" class="form-control">
            <option value="null" disabled selected>Vælg spillere som går med</option>
            <option *ngFor="let navn of service.filterSpillere(melder.value)" [value]="navn.Id">{{navn.Fornavn}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="Vundet" #vundettest="ngModel" [(ngModel)]="service.formData.Vundet" type="boolean" class="form-control">
            <option value="null" disabled selected>Resultat</option>
            <option value="true">Vundet</option>
            <option value="false">Tabt</option>
          </select>
        </div>    
        <div class="form-group">
          <select name="Makker" #makker="ngModel" [(ngModel)]="service.formData.Makker" type="number" placeholder="Makker" class="form-control">
            <option value="null" disabled selected>Vælg makker</option>
            <option *ngFor="let navn of service.spillereList" [value]="navn.Id">{{navn.Fornavn}}</option>
          </select> 
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="AntalStik" #antalStik="ngModel" [(ngModel)]="AntalStik" placeholder="Antal stik">
        </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Indsend</button>
  </div>
</form>
