<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
  <input type="hidden" name="Id" [value]="service.formData.Id">
  <input type="hidden" name="SpilId" [value]="service.formData.SpilId">
  <div class="form-row">
    <div class="col-md">
        <div class="form-group">
          <input name="Melder" [id]="melderValue" [placeholder]="melderNavn" disabled="disabled" class="form-control">
        </div>
        <div class="form-group">
          <select name="Melding" [(ngModel)]="service.formData.Melding" type="number" class="form-control">
            <option value="0" disabled selected>Vælg melding</option>
            <option value="1">7</option>
            <option value="2">8</option>
            <option value="3">9</option>
            <option value="4">Sol</option>
            <option value="5">10</option>
            <option value="6">Ren sol</option>
            <option value="7">11</option>
            <option value="8">Bordlægger</option>
            <option value="9">12</option>
            <option value="10">Ren bordlægger</option>
            <option value="11">13</option>
            <option value="12">Beskidt</option>
          </select>
        </div>
        <div class="form-group">
          <select name="PlusId" #plusId="ngModel" [(ngModel)]="service.formData.PlusId" type="number" class="form-control">
            <option value="null" disabled selected>Vælg plus</option>
            <option value="1">[Blank]</option>
            <option value="2">Hårde</option>
            <option value="3">Halve</option>
            <option value="4">Sang</option>
            <option value="5">VIP</option>
            <option value="6">Gode</option>
          </select>
        </div>
        <div class="form-group">
          <select multiple name="gaaMed" [ngModel]="service.gaaMedId" type="number" class="form-control">
            <option value="null" disabled selected>Vælg spillere som går med</option>
            <option *ngFor="let navn of service.filterSpillere" [value]="navn.Id">{{navn.Fornavn}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="Vundet" #vundet="ngModel" [(ngModel)]="service.formData.Vundet" type="boolean" placeholder="Vundet" class="form-control">
            <option value="null" disabled selected>Resultat</option>
            <option value="true">Vundet</option>
            <option value="false">Tabt</option>
          </select>
        </div>    
        <div class="form-group">
          <select name="Makker" #makker="ngModel" [(ngModel)]="service.formData.Makker" type="number" placeholder="Makker" class="form-control">
            <option value="null" disabled selected>Vælg makker</option>
            <option value="0">Forever alone :(</option>
            <option *ngFor="let navn of service.filterSpillere" [value]="navn.Id">{{navn.Fornavn}}</option>
          </select> 
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="AntalStik" placeholder="Antal stik">
        </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Indsend</button>
  </div>
</form>
