<table class="table table-hover">
  <tr>
    <th>Runde Nr</th>
    <th>Melder</th>
    <th>Melding</th>
    <th>Plus</th>
    <th>Makker</th>
    <th>Vundet</th>
    <th>Beløb</th>
  </tr>
  <tr *ngFor="let runde of service.list">
    <td>{{runde.RundeNr}}</td>
    <td>{{runde.Melder}}</td>
    <td>{{runde.Melding}}</td>
    <td>{{runde.PlusId}}</td>
    <td>{{runde.Makker}}</td>
    <td>{{runde.Vundet}}</td>
    <td>{{runde.Beloeb}}</td>
    <td><button class="btn btn-danger align-top" type="submit" (click)="onDelete(runde.Id)">X</button></td>
  </tr>
</table>