<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>SpilId</th>
    <th>RundeNr</th>
    <th>Melder</th>
    <th>Melding</th>
    <th>PlusId</th>
    <th>Makker</th>
    <th>Vundet</th>
    <th>Beløb</th>
    <th>Spiller1</th>
    <th>Spiller2</th>
    <th>Spiller3</th>
    <th>Spiller4</th>
  </tr>
  <tr *ngFor="let runde of service.list">
    <td (click)="redigerForm(runde)">{{runde.Id}}</td>
    <td (click)="redigerForm(runde)">{{runde.SpilId}}</td>
    <td (click)="redigerForm(runde)">{{runde.RundeNr}}</td>
    <td (click)="redigerForm(runde)">{{runde.Melder}}</td>
    <td (click)="redigerForm(runde)">{{runde.Melding}}</td>
    <td (click)="redigerForm(runde)">{{runde.PlusId}}</td>
    <td (click)="redigerForm(runde)">{{runde.Makker}}</td>
    <td (click)="redigerForm(runde)">{{runde.Vundet}}</td>
    <td (click)="redigerForm(runde)">{{runde.Beloeb}}</td>
    <td (click)="redigerForm(runde)">{{runde.Spiller1}}</td>
    <td (click)="redigerForm(runde)">{{runde.Spiller2}}</td>
    <td (click)="redigerForm(runde)">{{runde.Spiller3}}</td>
    <td (click)="redigerForm(runde)">{{runde.Spiller4}}</td>
    <td><button class="btn btn-danger align-top" type="submit" (click)="onDelete(runde.id)">X</button></td>
  </tr>
</table>