<table class="table table-hover">
  <tr>
    <th>Runde Nr</th>
    <th>Melder</th>
    <th>Melding</th>
    <th>Plus</th>
    <th>Makker</th>
    <th>Resultat</th>
    <th>Beløb</th>
  </tr>
  <tr *ngFor="let runde of service.rundeList">
    <td>{{runde.RundeNr}}</td>
    <td>{{getNavnFromId(runde.Melder)}}</td>
    <td>{{getMelding(runde.Melding)}}</td>
    <td class="text-center">{{getPlus(runde.PlusId)}}</td>
    <td>{{getNavnFromId(runde.Makker)}}</td>
    <td>{{getVundet(runde.Vundet)}}</td>
    <td>{{runde.Beloeb}}</td>
    <td><button class="btn btn-danger align-top" type="submit" (click)="onDelete(runde.Id)">X</button></td>
  </tr>
</table>